@font-face {
	font-family: 'handsean';
	src: url('../public/fonts/handsean.ttf') format('truetype');
	}

#container {
	width: 960px;
	margin: 0 auto;
}

header {
	width: 960px;
	height: 210px;
	border: 1px solid;
	margin: 0 auto;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;	
}

header, h1 {
	font-family: 'handsean', Verdana, Arial, sans-serif;
	text-shadow: 0px 1px 1px rgba(0,0,0,.2);
	font-size: 60px;
	padding: 5px 0 0 5px;
}

nav {
	margin: 0px 0px 30px 30px;
}

nav, ul{
	float: left;
	width: 100%;
	padding:0;
	margin:5px 5px 25px 20px;
	list-style-type:none;
}

nav, ul, li {
	display: inline;
}

article {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	line-height: 18px;	
	}
	
article, p {
	text-indent: 3em;	
	}