* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 960px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

header, footer, aside, section { display: block;}

@font-face {
	font-family: 'handsean';
	src: url('../public/fonts/handsean.ttf') format('truetype');
	}

#container {
	width: 960px;
	margin: 0 auto;
}

header {
	width: 960px;
	height: 210px;
	position: relative;
	margin: 0 auto;
	padding-top: 25px;	
}

hgroup { margin: 20px 0 40px;}

hgroup h1 {
	font: 100px/120px 'handsean', Verdana, Arial, sans-serif;
	color: #000;
	text-shadow: -1px -1px 0 #010, 0 0 10px rgba(255,255,255,0.7);
	text-align: center;
}

/*
header, h1 {
	font-family: 'handsean', Verdana, Arial, sans-serif;
	text-shadow: 0px 1px 1px rgba(0,0,0,.2);
	font-size: 60px;
	padding: 5px 0 0 5px;
	margin: 0 auto;
	text-indent: 10px;
}
*/
nav {
	width: 77%;
	height: 40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	position: absolute;
}

nav, ul{
	width: 960px;
	margin:0 auto;
	list-style-type:none;
	list-style-position: outside;
	list-style-image: none;
}

nav, ul, li {
	float: left;
}

nav, ul, li, a{
	margin-right: 20px;
	display: block;
	line-height: 40px;
}
	
footer {
	background:#666666;
	border-top:1px solid #cccccc;
	padding:10px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-radius:5px; // for Opera
	text-align:center;
	color:#ffffff;
}

h1 {
	font-size: 16px;
	line-height: 40px;
	padding: 40px 0 5px 10px;
}

a {
	color: #000;
	text-shadow: 1px 1px 1px #ccc;
}

p {
	text-align: justify;
}

#content {
	display:table;
	margin-top:40px;
}

#mcontent {
	display:table-cell;
	padding-right:22px;
	width:620px;
}

.bpage div {
	-webkit-column-count:2;
	-moz-column-count:2;
	-moz-column-gap:22px;
	-webkit-coulmn-gap:22px;
}

aside {
	display:table-cell;
	width:300px;
	background:#f3f3f3;
	float: right;
}

aside section {
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	background:#e0e0e0;
	margin:22px 0 0 22px;
	padding:11px 22px;
	width:50%;
}