<h4>ABC</h4>
<p>Alfabeto</p>
<table cellspacing="0" cellpadding="0">
<thead>
	<tr>
		<th>Letras</th>
		<th>Pronúncia</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>a</td>
		<td>aa</td>
	</tr>
	<tr>
		<td>b</td>
		<td>bee</td>
	</tr>
	<tr>
		<td>c</td>
		<td>see</td>
	</tr>
	<tr>
		<td>d</td>
		<td>dee</td>
	</tr>
	<tr>
		<td>e</td>
		<td>ee</td>
	</tr>
	<tr>
		<td>f</td>
		<td>äf</td>
	</tr>
	<tr>
		<td>g</td>
		<td>guee</td>
	</tr>
	<tr>
		<td>h</td>
		<td>roo</td>
	</tr>
	<tr>
		<td>i</td>
		<td>ii</td>
	</tr>
	<tr>
		<td>j</td>
		<td>ii(xiando)</td>
	</tr>
	<tr>
		<td>k</td>
		<td>coo</td>
	</tr>
	<tr>
		<td>l</td>
		<td>äl</td>
	</tr>
	<tr>
		<td>m</td>
		<td>äm</td>
	</tr>
	<tr>
		<td>n</td>
		<td>än</td>
	</tr>
	<tr>
		<td>o</td>
		<td>oo</td>
	</tr>
	<tr>
		<td>p</td>
		<td>pee</td>
	</tr>
	<tr>
		<td>q</td>
		<td>cuu</td>
	</tr>
	<tr>
		<td>r</td>
		<td>är</td>
	</tr>
	<tr>
		<td>s</td>
		<td>äs</td>
	</tr>
	<tr>
		<td>t</td>
		<td>tee</td>
	</tr>
	<tr>
		<td>u</td>
		<td>uu</td>
	</tr>
	<tr>
		<td>v</td>
		<td>vee</td>
	</tr>
	<tr>
		<td>V</td>
		<td>kaksois vee</td>
	</tr>
	<tr>
		<td>x</td>
		<td>äks</td>
	</tr>
	<tr>
		<td>y</td>
		<td>uu (fechado)</td>
	</tr>
	<tr>
		<td>z</td>
		<td>tset</td>
	</tr>
	<tr>
		<td>ä</td>
		<td>ää (aberto)</td>
	</tr>
	<tr>
		<td>ö</td>
		<td>öö (fechado)</td>
	</tr>
</tbody>
</table>