<h1>ABC</h1>

<p>Alfabeto

 

Letras
	

Pronúncia

 

a
	

 

aa

b
	

bee

c
	

see

d
	

dee

e
	

ee

f
	

äf

g
	

guee

h
	

roo

i
	

ii

j
	

ii (xiando)

k
	

coo

l
	

äl

m
	

äm

n
	

än

o
	

oo

p
	

pee

q
	

cuu

r
	

är

s
	

äs

t
	

tee

u
	

uu

v
	

vee

w
	

kaksois vee

x
	

äks

y
	

uu (fechado)

z
	

tset

ä
	

ää (aberto)

ö
	

öö (fechado)

</p>
