<h2>adjetivo</h2>
<p>A
 	 	L	 
 	 	 	 	 
abençoado	siunattu	 	legal	siisti
aberto	auki	 	lento	hidas
adulto	aikuinen	 	limpo	puhdas
alto	pitkä	 	loiro	vaalea
atrasado	myöhässä	 	longe	kaukainen
 	 	 	 	 
B	 	 	M	 
 	 	 	 	 
baixo	lyhyt	 	magro	laiha
bêbado	juovuksissa	 	molhado	märkä
bonito	kaunis	 	morto	kuollut
bonito	komea
 	mudo	mykkä
(homem)	 	 
bravo	rohkea	 	N	 
 	 	 	 	 
C	 	 	nervoso	hermostunut
 	 	 	novo	uusi
calmo	rauhallinen	 	 	 
cansado	väsynyt	 	O	 
cego	sokea	 	 	 
certo	oikea	 	ocupado	kiireinen
chato	tylsä	 	orgulhoso	ylpeä
cheio	täysi	 	 	 
claro	valoisa	 
colorido	värikäs	P	 
covarde	pelkuri	 	 	 
criminoso	rikollinen	 	pensador	ajattelija
 	 	 	pequeno	pieni
D	 	 	perigoso	vaarallinen
 	 	 	perto	läheinen
desocupado	vapaa	 	plano	tasainen
diferente	erilainen	 	 	 
difícil	vaikea	 	Q	 
doce	makea	 	 	 
doente	sairas	 	quadrado	neliönmuotoinen
 	 	 	quente	kuuma
E	 	 	 	 
 	 	 	R	 
engraçado	hauska	 	 	 
errado	väärä	 	rápido	nopea
escorregadio	liukas	 	redondo	pyöreä
escuro	pimeä	 	reto	suora
estranho	outo	 	ruim	huono
 	 	 	 	 
F	 	 	S	 
 	 	 	 	 
fácil	helpo	 	sadio	terve
faminto	nälkäinen	 	salgado	suolainen
favorito	suosikki	 	seco	kuiva
feio	ruma	 	seguro	turvallinen
feliz	iloinen	 	só	yksinäinen
feliz	iloinen	 	sujo	likainen
fino	ohut	 	surdo	kuuro
fino	ohut	 	 	 
fraco	heikko	 	T	 
fundo	syvä	 	 	 
 	 	 	tarde	myöhäinen
G	 	 	triste	surullinen
 	 	 	 	 
gelado	kylmä	 	U	 
gentil	hellä	 	 	 
gordo	lihava	 	único	vain
gordo	lihava	 	 	 
gostoso	maukas	 	V	 
gostoso	maukas	 	 	 
grande
iso	 
suuri	vazio	tyhjä
grosso	paksu	 	velho	vanha
grosso	paksu	 	vivo	elävä
 	 	 	 	 
I	 	 	 	 
 	 	 	 	 
igual	samalainen	 	 
 
inteligente	älykäs</p>