<h2>Condicional</h2>

<p>


Para colocar o verbo no condicional usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Prefixos
 
Minä - isin
Sinä - isit
Hän - isi
Me - isimme
Te - isitte
He - isivat/isivät
 
 
Conjuvações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:

Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä puhuisin
Sinä puhuisit
Hän puhuisi
Me puhuisimme
Te puhuisitte
He puhuisivat
 
 
Verbo Tipo 2
 
Em caso de verbos do tipo 2, da/dä desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Syödä ( Comer )
 
Minä söisin
Sinä söisit
Hän söisi
Me söisimme
Te söisitte
He söisivät


Condicional

Para colocar o verbo no condicional usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Prefixos
 
Minä - isin
Sinä - isit
Hän - isi
Me - isimme
Te - isitte
He - isivat/isivät
 
 
Conjuvações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:
 
 
Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä puhuisin
Sinä puhuisit
Hän puhuisi
Me puhuisimme
Te puhuisitte
He puhuisivat
 
 
Verbo Tipo 2
 
Em caso de verbos do tipo 2, da/dä desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Syödä ( Comer )
 
Minä söisin
Sinä söisit
Hän söisi
Me söisimme
Te söisitte
He söisivät
 
 
Verbo Tipo 3
 
Em caso de verbos do tipo 3, a última sílaba desaparece (la/lä na/nä ra/rä) e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Keskustella ( Conversar )
 
Minä keskustelisin
Sinä keskustelisit
Hän keskustelisi
Me keskustelisimme
Te keskustelisitte
He keskustelisivat
 
 
Verbo Tipo 4
 
Em caso de verbos do tipo 4, a último sílaba desaparece e acrescenta-se "si" e o sufixo de determinada pessoa depois do verbo
 
Haluta ( Querer )
 
Minä haluaisin
Sinä haluaisit
Hän haluaisi
Me haluaisimme
Te haluaisitte
He haluaisivat

Verbo Tipo 5
 
Em caso de verbos do tipo 5, a último vogal desaparece e acrescenta-se "s" e o sufixo de determinada pessoa depois do verbo
 
Valita ( Escolher )
 
Minä valitsisin
Sinä valitsisit
Hän valitsisi
Me valitsisimme
Te valitsisitte
He valitsisivat

</p>