<h2>Conjugações</h2>

<p>
Para colocar o verbo na forma negativa usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Sufixos
 
Minä - n
Sinä - t
Hän - duplica a última vogal (há excessões)
Me - mme
Te - tte
He - vat/vät
 
 
Conjugações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:


Conjugações

Para colocar o verbo na forma negativa usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Sufixos
 
Minä - n
Sinä - t
Hän - duplica a última vogal (há excessões)
Me - mme
Te - tte
He - vat/vät
 
 
Conjugações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:
 
 
Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä puhun
Sinä puhut
Hän puhu
Me puhumme
Te puhutte
He puhuvat
 
 
Verbo Tipo 2
 
Em caso de verbos do tipo 2, da/dä desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Syödä ( Comer )
 
Minä syön
Sinä syöt
Hän syö
Me syömme
Te syötte
He syövät

Verbo Tipo 3
 
Em caso de verbos do tipo 3, a última sílaba desaparece (la/lä na/nä ra/rä) e acrescenta-se "e" e o sufixo de determinada pessoa depois do verbo
 
Keskustella ( Conversar )
 
Minä keskustelen
Sinä keskustelet
Hän keskustelee
Me keskustelemme
Te keskustelette
He keskustelevat
 
 
Verbo Tipo 4
 
Em caso de verbos do tipo 4, a último sílaba desaparece e acrescenta-se "a" e o sufixo de determinada pessoa depois do verbo
 
Haluta ( Querer )
 
Minä haluan
Sinä haluat
Hän haluaa
Me haluamme
Te haluatte
He haluavat

Verbo Tipo 5
 
Em caso de verbos do tipo 5, a último vogal desaparece e acrescenta-se "se" e o sufixo de determinada pessoa depois do verbo
 
Valita ( Escolher )
 
Minä valitsen
Sinä valitset
Hän valitsee
Me valitsemme
Te valitsette
He valitsevat
</p>