<h2>Sobre a Finlandia</h2>

<p>
Finlândia
 
 

Geografia

 

A Finlândia é um país com milhares de lagos e ilhas, 187 888 lagos e
179 584 ilhas, mais concretamente. Um destes lagos, o Saimaa, é o
5º maior lago da Europa. A paisagem finlandesa é predominantemente
plana, com algumas colinas e montes baixos. O ponto mais alto do
país, o Halti, com 1328 m, encontra-se no extremo norte da Lapónia.
Além dos muitos lagos, a paisagem é dominada por grandes extensões
de floresta boreal (cerca de 60% da área terrestre) e pouca terra arável.
A maior parte das ilhas encontra-se a sudoeste, fazendo parte do
arquipélago das ilhas Åland, ou então situa-se ao largo da costa sul, no
golfo da Finlândia. A Finlândia é um dos poucos países do mundo que
estão a crescer em área: devido ao levantamento isostático da
Escandinávia, que ocorre desde a última glaciação, a superfície do país
cresce cerca de 7 km² por ano.

O clima da Finlândia meridional é temperado. No norte da Finlândia, na
província da Lapônia, domina um clima sub-ártico, caracterizado por
invernos frios e ocasionalmente severos e verões relativamente amenos.

Um quarto do território finlandês situa-se a norte do Círculo Polar Ártico,
e consequentemente é possível experimentar o Sol da meia-noite —
mais frequente à medida que se caminha para norte. No ponto mais
setentrional da Finlândia, o Sol não se põe durante 73 dias no verão e
não nasce durante 51 dias no inverno.

A Finlândia administra 6 províncias (lääni, plural: läänit), divididas em 90
distritos estaduais locais. Cada província têm uma espécie de filial do
poder executivo do governo nacional que mantém a autoridade no local. É
um sistema que mudou pouco desde sua criação em 1634, para nova
divisão em 1997. Desde então, as seis províncias são:

 

Finlândia Meridional

Finlândia Ocidental

Finlândia Oriental

Oulu

Lapónia

Åland

As ilhas Åland ganharam um governo autónomo em 1920 reafirmado em 1991, cuja autoridade é reconhecida pela União Europeia.

 

Capital: Helsinque

Cidade mais populosa: Helsinque

Línguas Oficiais: Finlandês e Suéco

 

Governo: República Parlamentar

Presidente: Tarja Halonen

Primeiro-Ministro: Matti Vanhanen

 

Independência: da Rússia

Autonomia: 29 de Março de 1809

Declarada: 6 de Dezembro de 1907

Reconhecida: 3 de Janeiro de 1918

 

Entrada na União Européia: 1 de Janeiro de 1995

 

Área:

Total: 338.145 km2 (65º)

Água (%): 9,4

 

População: Estimativa de 2007: 5.291.517 hab. (112º)

Censo 2000: 5.118.115

Densidade: 16 hab/km2 (190º)

 

PIB

Total: US$193.491 Bilhões (31º)

Per Capita: US$40.197 (12º)

 

IDH: 0,947 (11º) - alto

 

Moeda: Euro

 

Fuso Horário: EET (UTC +2)

Verão: EEST (UTC +3)

 

Código Internet: .fi , .ax , .eu

 

Código Telefone: +358

 

 

Política

 

A Finlândia tem um regime republicano parlamentar semipresidencialista.

O Chefe de Estado é o Presidente da República, eleito por um período de
seis anos e pode ser eleito por dois mandatos consecutivos. A atual
Presidente da República, Srª Tarja Halonen, foi eleita em fevereiro de 2000.
Porém o Presidente só é responsável pela política externa, representando
o Estado Nacional.

O poder executivo consiste em um Governo, chefiado por um
primeiro-ministro, (que é escolhido pelo Parlamento de 200 membros),
e composto por ministros distribuídos por vários cargos, e por um
membro ex-ofício, o Chanceler de Justiça.

 

 

Demografia

 

Há duas línguas oficiais na Finlândia: o finlandês, falado por 92% da população
como língua materna e o sueco, falado por 5,5% dos habitantes.

A etnia predominante é o caucasiano europeu do norte (nórdico).

A população da Finlândia sempre se concentrou na região sul do país. As
grandes cidades da Finlândia encontram-se na Área Metropolitana de
Helsínquia (incluindo as cidades de Helsinki, Espoo e Vantaa), Tampere,
Turku, e Oulu.

 

 

Economia

 

A Finlândia possui uma economia de mercado altamente industrializada, com
produção per capita maior que a do Reino Unido, França, Alemanha e Itália. O
padrão de vida finlandês é elevado. O sector-chave de sua economia é a
indústria - principalmente madeireira, metalurgia, engenharia, telecomunicações
(destaque para a Nokia) e produtos electrónicos. O comércio externo é
importante, representando cerca de 1/3 do PIB. Com excepção de madeira e de
vários minérios, a Finlândia depende de importações de matérias-primas,
energia, e alguns componentes de bens manufacturados.

Por causa do clima rigoroso, o desenvolvimento da agricultura é limitado a
produtos básicos de subsistência. A exploração madeireira, uma importante
fonte de renda, fornece um segundo trabalho para a população rural.

O processo de rápida integração à Europa Ocidental - a Finlândia foi um dos
12 países que aderiram ao Euro - dominará o cenário dos próximos anos. O
crescimento do país foi fraco em 2002 e reduziu-se novamente em 2003
devido à depressão global.

 

 

Religião

 

Segundo dados de 2004, a maior parte dos finlandeses (83,3%) são membros
da Igreja Luterana da Finlândia, com uma minoria de 1,1% pertencente à Igreja
Ortodoxa. As duas são igrejas oficiais do estado. O resto consiste em grupos
relativamente pequenos (1,1 no total) de outros protestantes, católicos,
muçulmanos, judeus, e 14% não-religiosos.

 

 

Esporte

 

A Finlândia apresenta diversos esportistas de renome dentre os quais se
destacam o campeão olímpico Paavo Nurmi e, recentemente, seus
campeões de Fórmula 1: Keke Rosberg, Mika Hakkinen e Kimi Räikkönen.

 

 

Feriados

 

1 de Janeiro Ano Novo

6 de Janeiro Epifania

Variável Sexta-Feira Santa

Variável Segunda-Feira de Páscoa

1 de Maio Dia do Trabalho

23 de Junho Noite do solstício de Verão

10 de Outubro Dia de Aleksis Kivi

6 de Dezembro Dia da Independência

25 de Dezembro Natal

26 de Dezembro Dia de Santo Estevão

 

 

Tópicos Diversos

 

Freqüencia do celular (ou em Portugal, frequência do telemóvel):

 

GSM 900

GSM 1800

UMTS 2100

 

Tecnologia do Celular (ou em Portugal, do telemóvel):

 

GSM

GPRS

EDGE

UMTS

 

Formato da data: DD.MM.AAAA

 

Separador Decimal: 123,45 mas ponto também é usado: 123.45

Milhares são separados com espaço: 10 000

 

Tensão: 230 Volts, 50 Hz

 

Código Postal: 5 dígitos

 

Recursos Naturais:

 

Ouro

Prata

Urânio

Madeira

Minério de Ferro

Cobre

Zinco

Niquel

Calcário

 

Linhas telefônicas: 2.548.000

Linhas telefônicas móveis: 5.000.000+

 

Estradas:

 

Total: 78.168 km

Pavimentada: 50.616 km

Sem pavimento: 27.552 km

 

Estradas de Ferro:

total: 5.841 km

 

 

História

 

De acordo com a evidência arqueológica, a área onde agora é a Finlândia foi
estabelecida primeiramente em torno de 8500 a.C. durante a idade da pedra
enquanto a última era do gelo retrocedia. Os povos mais adiantados
provavelmente eram caçadores-colhedores, vivendo na tundra e com o que o
mar poderia oferecer. A cerâmica é conhecida desde 5300 a.C. A
existência de um sistema de troca extenso durante o período mesolítico é indicada pela propagação do asbesto e da pedra-sabão na Finlândia oriental, e por existir ardósia na Escandinávia, na Rússia, no sul do lago Onega além de na Escandinávia do norte. Desconfia-se (e é tido como provável) que os falantes das línguas fino-úgricas chegaram à área durante a idade da pedra, e foram possivelmente os primeiros colonos Mesolíticos. A chegada da cultura do Machado de Batalha no litoral da Finlândia do sul, em torno de 3200 a.C., pode ter coincidido com o começo da agricultura. Entretanto, os registros mais adiantados da agricultura são do milênio passado. A caça e a pesca continuam a ser partes importantes da economia, especialmente nas
partes norte e oriental do país.

A idade do bronze (1500-500 a.C.) e a idade do ferro (500 a.C.-1200) foram
caracterizadas por contatos extensivos com a Escandinávia, o norte da
Rússia e a região Báltica. O começo da associação de 700 anos da
Finlândia com o reino da Suécia é tradicionalmente contado a partir do ano
de 1154 e a introdução do cristianismo no país foi supostamente feita pelo
rei Erik da Suécia. Entretanto, pontos arqueológicos mostram influências
prévias do cristianismo na Finlândia, tanto no sudoeste quanto no sudeste,
tendo sido achados artefatos do cristianismo ocidentais e orientais.

</p>