<h2>Genitivo</h2>  

<p>A posse, em finlandês, é determinada pelo caso genitivo, que assume terminações
diferentes de acordo com cada pessoa, inexistindo, portanto, pronomes possessivos.

 	 	 
 	 	 
Português	Finlandês	 
 	 	 
comigo	minun kanssa	 
com você	sinun kanssa	 
com ele/ela	hänen kanssa	 
com a gente	meidän kanssa	 
com vocês	teidän kanssa	 
com eles/elas	heidän kanssa	 
 	 	 
De quem ? / Kenen	 
 	 	 
Kenen tämä kynä on? 	 
De quem é essa caneta ?	 
 	 	 
 	 	 
* O caso genitivo é construido adcionando n ao possuidor. Ainda, o possuidor sempre aparece antes do possuído.
 	 	 
koiran talo	 	a casa do cachorro
poikan pyorä	 	a bicicleta do menino
 	 	 
| possuidor (koira / cachorro) + n ; possuido (talo / casa)</p>