<h2>Mitä kello on ? (Que horas são)</h2>

<p>
Kello on kaksi (São duas horas)

kello on puoli kolme ("São meia prás três" (São duas e meia)

Kello on viisitoista yli kolme (São três e quinze)

Kello on kaksikymmentä vaille neljä


Obs: obviamente, para alterar a hora é necessário apenas alterar o número.</p>