<h2>Imperfeito</h2>

<p>
Para colocar o verbo no imperfeito usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Prefixos
 
Minä - in
Sinä - it
Hän - i
Me - imme
Te - itte
He - ivat/vät
 
 
Conjuvações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:
 
 
Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä puhuin
Sinä puhuit
Hän puhui
Me puhuimme
Te puhuitte
He puhuivat


Imperfeito

Para colocar o verbo no imperfeito usa-se as regras de conjugações 
para cada tipo de verbo. Ainda, é necessário acrescentar um prefixo antes 
do verbo. Exemplos abaixo

 
 
Prefixos
 
Minä - in
Sinä - it
Hän - i
Me - imme
Te - itte
He - ivat/vät
 
 
Conjuvações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:
 
 
Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä puhuin
Sinä puhuit
Hän puhui
Me puhuimme
Te puhuitte
He puhuivat
 
 
Verbo Tipo 2
 
Em caso de verbos do tipo 2, da/dä desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Syödä ( Comer )
 
Minä syöin
Sinä syöit
Hän syöi
Me syöimme
Te syöitte
He syöivät
 
 
Verbo Tipo 3
 
Em caso de verbos do tipo 3, a última sílaba desaparece (la/lä na/nä ra/rä) e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Keskustella ( Conversar )
 
Minä keskustelin
Sinä keskustelit
Hän keskusteli
Me keskustelimme
Te keskustelitte
He keskustelivat

Verbo Tipo 4
 
Em caso de verbos do tipo 4, a último sílaba desaparece e acrescenta-se "si" e o sufixo de determinada pessoa depois do verbo
 
Haluta ( Querer )
 
Minä halusin
Sinä halusit
Hän halusi
Me halusimme
Te halusitte
He halusivat
 
 
Verbo Tipo 5
 
Em caso de verbos do tipo 5, a último vogal desaparece e acrescenta-se "s" e o sufixo de determinada pessoa depois do verbo
 
Valita ( Escolher )
 
Minä valitsin
Sinä valitsit
Hän valitsi
Me valitsimme
Te valitsitte
He valitsivat

</p>