<h2>finlandes</h2>

<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187795_239714286051760_647650_n.jpg" width="180" height="150" />

<p>Este site tem como objetivo ajudar aqueles que estejam interessados em aprender a Língua Finlandesa.

Desejo que através dos passos que apresento aqui você possa compreender essa Língua, que é bem interessante e desafiadora.

Bons estudos!
</p>