<h2>finlandes</h2>

<p>Este site tem como objetivo ajudar aqueles que estejam interessados em aprender a Língua Finlandesa.

Desejo que através dos passos que apresento aqui você possa compreender essa Língua, que é bem interessante e desafiadora.

Bons estudos!
</p>