<h1>Interrogações</h1>

<p>

 
Há duas maneiras de formar uma frase interrogativa em Finlandês: 
usando ou não os pronomes interrogativos.
 	 	 
 	 
Pronomes Interrogativos	 
 	 
Oquê?	Mitä?	 
Qual?	Mitä?	 
Quem?	Kuka?	 
Onde?	Missä?	 
De onde?	Mistä?	 
Pra onde?	Mihin?	 
Quando?	Milloin?	 
Porquê?	Miksi?	 
Como?	Kuinka?	 
Quanto?	Kuinka paljon?	 
Quantos?	Kuinka monta?	 
 	 	 
 	 	 
1) Em Finlandês a construção das frases ocorre da mesma maneira
que em Português, ou seja:
 	 	 
Pronome Interrogatigo + Pronome Pessoal + Verbo (conjugado!) + etc
 	 	 
 	 	 
Oquê você quer ?	 
Mitä sinä haluat ?	 
 	 	 
Quem é você ?	 	 
Kuka sinä olet ?	 	 
 	 	 
 	 	 
Seguindo esses exemplos você poderá formar o primeiro tipos de
frases interrogativas

2) A segunda maneira de formar frases interrogativas em Finlandês é
adcionando ko/kö ao verbo conjugado. Nesse caso, o verbo vem antes do pronome pessoal (obs: ko/kö só é usado quando não se usa
qualquer pronome interrogativo!)
 	 	 
 	 	 
Você quer comer ?	 
Haluatko sinä syödä ?	 
 	 	 
Vocês estudam Finlandês ?	 
Opiskeletteko te suomea ?	 
 	 	 
 	 	 
Seguindo esses exemplos você poderá formar o segundo tipo 
de frases interrogativas

</p>