<h2>Mais que perfeito</p>

<p>Para colocar o verbo na forma "mais que perfeito" usa-se o verbo "olla" (ser/estar) conjugado no passado. Ainda, coloca-se o segundo verbo no participio.

As regras de conjugações para cada tipo de verbo estão listadas abaixo.

 
 
Exemplos
 
Minä  olin ...-nut/nyt
Sinä olit ...-nut/nyt
Hän oli ...-nut/nyt
Me olimme ...-neet
Te olitte ...-neet
He olivat / vät ...-neet
 
 
Conjuvações dos Verbos
 
Para cada tipo de verbo (1,2,3,4 ou 5) há uma determinada regra na hora de
conjuga-los. Veja os exemplos abaixo:
 
 
Verbo Tipo 1
 
Em caso de verbos do tipo 1, a último vogal desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Falar ( Puhua )
 
Minä olin puhunut
Sinä olit puhunut
Hän oli puhunut
Me olimme puhuneet
Te olitte puhuneet
He olivat puhuneet
 
 
Verbo Tipo 2
 
Em caso de verbos do tipo 2, da/dä desaparece e acrescenta-se o sufixo de determinada pessoa depois do verbo
 
Syödä ( Comer )
 
Minä olin syönyt
Sinä olit syönyt
Hän oli syönyt
Me olimme syöneet
Te olitte syöneet
He olivat syöneet
 
 
Verbo Tipo 3
 
Em caso de verbos do tipo 3, a última sílaba desaparece (la/lä na/nä ra/rä) e acrescenta-se "e" e o sufixo de determinada pessoa depois do verbo
 
Keskustella ( Conversar )
 
Minä olin keskustelenut
Sinä olit keskustelenut
Hän oli keskustelenut
Me olimme keskusteleneet
Te olitte keskusteleneet
He olivat keskusteleneet
 
 
Verbo Tipo 4
 
Em caso de verbos do tipo 4, a último sílaba desaparece e acrescenta-se "a" e o sufixo de determinada pessoa depois do verbo
 
Haluta ( Querer )
 
Minä olin halunut
Sinä olit halunut
Hän oli haluanut
Me olimme haluneet
Te olivat haluneet
He olivat haluneet
 
 
Verbo Tipo 5
 
Em caso de verbos do tipo 5, a último vogal desaparece e acrescenta-se "se" e o sufixo de determinada pessoa depois do verbo
 
Valita ( Escolher )
 
Minä olin valitsenut
Sinä olit valitsenut
Hän oli valitsenut
Me olimme valitseneet
Te olitte valitseneet
He olivat valitseneet</p>