<h1>Numeros</h1>

<p>
1	yksi 	  	11 	yksitoista
2 	kaksi 	  	12 	kaksitoista
3 	kolme 	  	13 	kolmetoista
4 	neljä 	  	14 	neljätoista
5 	viisi 	  	15 	viisitoista
6 	kuusi 	  	16 	kuusitoista
7 	seitsemän 	  	17 	seitsemäntoista
8 	kahdeksan 	  	18 	kahdeksantoista
9 	yhdeksän 	  	19 	yhdeksäntoista
10 	kymmenen 	  	20 	kaksikymmentä
  	  	  	  	 
  	  	  	  	 
10 	kymmennen 	  	21 	kaksikymmentäyksi
20 	kaksikymmentä 	  	22 	kaksikymmentäkaksi
30 	kolmekymmentä 	  	23 	kaksikymmentäkolme
40 	neljäkymmentä 	  	34 	kolmekymmentäneljä
50 	viisikymmentä 	  	45 	neljäkymmentäviisi
60 	kuusikymmentä 	  	56 	viisikymmentäkuusi
70 	seitsemänkymmentä 	  	67 	kuusikymmentäseitsemän
80 	kahdeksankymmentä 	  	78 	seitsemänkymmentäkahdeksan
90 	yhdeksänkymmentä 	  	89 	kahdeksankymmentäyhdeksän
100 	sata 	  	91 	yhdeksänkymmentäyksi
  	  	  	  	 
  	  	  	  	 
100 	sata 	  	1000 	tuhat
200 	kaksisataa 	  	2000 	kaksituhatta
300 	kolmesataa 	  	3000 	kolmetuhatta
400 	neljäsataa 	  	4000 	neljätuhatta
500 	viisisataa 	  	5000 	viisituhatta
600 	kuusisataa 	  	6000 	kuusituhatta
700 	seitsemänsataa 	  	7000 	seitsemäntuhatta
800 	kahdeksansataa 	  	8000 	kahdeksantuhatta
900 	yhdeksänsataa 	  	9000 	yhdeksäntuhatta
1000 	tuhat 	  	10000 	kymmenentuhatta
  	  	  	  	 
  	  	  	  	 
1000 	tuhat 	  	  	 
2000 	kaksituhatta 	  	  	 
3000 	kolmetuhatta 	  	  	 
4001 	neljätuhattayksi 	  	  	 
5010 	viisituhattakymmenen 
6011 	kuusituhattayksitoista 	  	  	 
7100 	seitsemäntuhattayksisata 	  	  	 
8101 	kahdeksantuhattayksisatayksi 	  	  	 
9200 	yhdeksäntuhattakaksisataa 	  	  	 
10000 	kymmenentuhatta

</p>	  	  	 