<h2>Onde</h2>

<p>
Em Finlandês há 3 tipos de "Onde", os quais são: Mihin (Para onde), Missä (Onde), Mistä (De onde)
 
É necessário certo cuidado na hora de formar as frases, senão você não será bem interpretado.
 
Por exemplo: se você disser "Missä sinä tulet" a sua frase vai significar algo como "Em onde você vem". 
Isso é erradíssimo!
O correto seria "Mistä sinä tulet (De onde você vem)"
 
Para responder as perguntas feitas com "Mistä", "Missä" ou "Mihin" é necessário um sufixo próprio.

Usemos a imaginação por um instante
 
Suponhamos que:

bola = você
quadrado = sauna
 
Mihin sinä menet ? (Para onde você vai ?)
Minä menen saunaAN (Eu vou para a sauna)
 
Missä sinä olet ? (Onde você está ?)
Minä olen saunaSSA (Eu estou na sauna)
 
Mistä sinä tulet ? (De onde você vem ?)
Minä tulen saunaSTA (Eu venho da sauna)

Vn = para dentro
ssa/ssä = dentro
sta/stä = de dentro
 
Há ainda uma segunda regra na hora de responder as perguntas feitas por "Mihin", "Missä" e "Mistä"
 

Usemos a imaginação mais uma vez
 
Suponhamos que:
bola = gato
quadrado = cadeira
 
 
Mihin kissa hyppäsi ? (Para onde o gato pulou ?)
Kissa hyppäsi tuolille (O gato pulou na cadeira)
 
Missä Kissa on ? (Onde o gato está ?)
Kissa on tuolilla (O gato está na cadeira)
 
Mistä kissa hyppäsi ? (De onde o gato pulou ?)
Kissa hyppäsi tuolilta (O gato pulou da cadeira)
 
 
lle = para cima
lla/llä = em cima (sobre)
lta/ltä = de cima
</p>