<h2>Particípio</h2>

<p>
	 	 	 
Em finlandês, para colocar o verbo no particípio é necessário apenas
conjugar o verbo para o corpo da palavra e acrescentar "nut / nyt".
 	 	 	 	 	 
 	 	 	 	 	 
Verbo Tipo 1	 	 	 	 	 
 	 	 	 	 	 
São os verbos terminados em vogal seguida de a/ä	 
 	 	 	 	 	 
Puhua	Puhunut	 	 	 	 
Asua	Asunut	 	 	 	 
 	 	 	 	 	 
 	 	 	 	 	 
Verbo Tipo 2	 	 	 	 	 
 	 	 	 	 	 
São os verbos terminados em vogais longas seguidas de da/dä
 	 	 	 	 	 
Voida	Voinut	 	 	 	 
Syödä	Syönyt	 	 	 	 
 	 	 	 	 	 
 	 	 	 	 	 
Verbo Tipo 3	 	 	 	 	 
 	 	 	 	 	 
São os verbos terminados em consoantes seguidas de la/lä, na/nä, ra/rä, ta/tä
 	 	 	 	 	 
Purra	Purenut	 	 	 	 
Luulla	Luulenut	 	 	 	 
 	 	 	 	 	 
 	 	 	 	 	 
Verbo Tipo 4	 	 	 	 	 
 	 	 	 	 	 
São os verbos terminados em vogal seguida de ta/tä
 	 	 	 	 	 
Haluta	Halunut	 	 	 	 
Vihata	Vihanut

Verbo Tipo 5	 	 	 	 	 
 	 	 	 	 	 
São os verbos terminados em ita/itä
 	 	 	 	 	 
Valita 	Valitsenut	 	 	 	 
Tarvita	Tarvitsenut
</p>