<h1>Pronúncia</h1>

<p>
a 	  	a 	 
ba / be / bi / bo / bu 	  	ba / be / bi / bo / bu 	 
ca / ce / ci / co / cu 	  	ka / ke / ki / ko / ku 	obs: ce e ci tem som de ke e ki
da / de / di / do / du 	  	da / de / di / do / du 	 
  	  	  	 
fa / fe / fi / fo / fu 	  	fa / fe / fi / fo / fu 	 
ga / ge / gi / go / gu 	  	ga / gue / gui / go / gu 	obs: ge e gi tem som de gue e gui
ha / he / hi / ho / hu 	  	ra / re / ri / ro / ru 	som de carro
i 	  	i 	 
j 	  	i 	 
ka / ke / ki / ko / ku 	  	ka / ke / ki / ko / ku 	 
la / le / li / lo / lu 	  	la / le / li / lo / lu 	 
ma / me / mi / mo / mu 	  	ma / me / mi / mo / mu 	 
na / ne / ni / no / nu 	  	na / ne / ni / no / nu 	 
o 	  	o 	 
pa / pe / pi / po / pu 	  	pa / pe / pi / po / pu 	 
qa / qe / qi / qo / qu 	  	ka / ke / ki / ko / ku 	 
ra / re / ri / ro / ru 	  	ra / re / ri / ro / ru 	como som de caro
sa / se / si / so / su 	  	sa / se / si / so / su 	 
ta / te / ti / to / tu 	  	ta / te / ti / to / tu 	 
u 	  	u 	 
va / ve / vi / vo / vu 	  	va / ve / vi / vo / vu 	 
wa / we / wi / wo / wu 	  	va / ve / vi / vo / vu 	 
x 	  	  	 
y 	  	u fechado 	como u francês (com biquinho)
za / ze / zi / zo / zu 	  	tza / tze / tzi / tzo / tzu 	 
ä 	  	a aberto 	entre a e é
ö 	  	o fechado 	entre o e u
</p>