<h4>Pronúncia</h4>

<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Letras</th>
			<th>Pronuncia</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ba / be / bi / bo / bu</td>
			<td>ba / be / bi / bo / bu</td>
		</tr>
		<tr>
			<td>ca / ce / ci / co / cu</td>
			<td>ka / ke / ki / ko / ku <span class="tooltip" title="Dica">.obs: ce e ci tem som de ke e ki</span></td>
		</tr>
		<tr>
			<td>da / de / di / do / du</td>
			<td>da / de / di / do / du</td>
		</tr>
		<tr>
			<td>fa / fe / fi / fo / fu</td>
			<td>fa / fe / fi / fo / fu</td>
		</tr>
		<tr>
			<td>ga / ge / gi / go / gu</td>
			<td>ga / gue / gui / go / gu <span class="tooltip" title="Dica">obs: ge e gi tem som de gue e gui</span></td>
		</tr>
		<tr>
			<td>ha / he / hi / ho / hu</td>
			<td>ra / re / ri / ro / ru <span class="tooltip" title="Dica">obs: som de carro </span></td>
		</tr>
		<tr>
			<td>i</td>
			<td>i</td>
		</tr>
		<tr>
			<td>j</td>
			<td>i</td>
		</tr>
		<tr>
			<td>ka / ke / ki / ko / ku</td>
			<td>ka / ke / ki / ko / ku</td>
		</tr>
		<tr>
			<td>la / le / li / lo / lu</td>
			<td>la / le / li / lo / lu</td>
		</tr>
		<tr>
			<td>ma / me / mi / mo / mu</td>
			<td>ma / me / mi / mo / mu</td>
		</tr>
		<tr>
			<td>na / ne / ni / no / nu</td>
			<td>na / ne / ni / no / nu</td>
		</tr>
		<tr>
			<td>pa / pe / pi / po / pu</td>
			<td>pa / pe / pi / po / pu</td>
		</tr>
		<tr>
			<td>qa / qe / qi / qo / qu</td>
			<td>ka / ke / ki / ko / ku</td>
		</tr>
		<tr>
			<td>ra / re / ri / ro / ru</td>
			<td>ra / re / ri / ro / ru <span class="tooltip" title="Dica">obs: como som de carro </span></td>
		</tr>
		<tr>
			<td>sa / se / si / so / su</td>
			<td>sa / se / si / so / su</td>
		</tr>
		<tr>
			<td>ta / te / ti / to / tu</td>
			<td>ta / te / ti / to / tu</td>
		</tr>
		<tr>
			<td>va / ve / vi / vo / vu</td>
			<td>va / ve / vi / vo / vu</td>
		</tr>
		<tr>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>za / ze / zi / zo / zu</td>
			<td>tza / tze / tzi / tzo / tzu</td>
		</tr>
	</tbody>
</table>