<h2>pronomes</h2>

<p>
Pronomes Pessoais
 
Eu	Minä
Você	Sinä
Ele(a)	Hän
Nós	Me
Vocês	Te
Eles(as)	He
 
 
Pronomes Demonstrativos
 
Este (a)	Tämä
Esse (a)	Tuo
Aquele (a)	Se
Estes (as)	Nämä
Esses (as)	Nuo
Aqueles (as)	Ne
 
 
Pronomes Possessivos
 
Meu	Minun
Seu	Sinun
Dele (a)	Hänen
Nosso	Meidän
De vocês	Teidän
Deles (as)	Heidän

Pronomes Interrogativos
 
Oquê?	Mitä?
Qual?	Mitä?
Quem?	Kuka?
Onde?	Missä?
De onde?	Mistä?
Pra onde?	Mihin?
Quando?	Milloin?
Porquê?	Miksi?
Como?	Kuinka?
Quanto?	Kuinka paljon?
Quantos?	Kuinka monta?</p>