<h2>Verbos</h2>

<p>
Na Língua Finlandesa há 5 tipos de verbos, sendo estes classificados como 
"verbo tipo 1", "verbo tipo 2", "verbo tipo 3", "verbo tipo 4" e "verbo tipo 5".
 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 
Verbo Tipo 1	 	 	 	 	 	 
 	 	 	 	 	 	 	 
São os verbos terminados em vogal seguida de a/ä
 	 	 	 	 	 	 	 
Puhua	Falar	 	 	 	 	 	 
Asua	Morar	 	 	 	 	 	 
Antaa	Dar	 	 	 	 	 	 
 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 
Verbo Tipo 2	 	 	 	 	 	 
 	 	 	 	 	 	 	 
São os verbos terminados em vogais longas seguidas de da/dä
 	 	 	 	 	 	 	 
Voida	Poder	 	 	 	 	 	 
Syödä	Comer	 	 	 	 	 	 
Tupakoida	Fumar	 	 	 	 	 	 
 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 
Verbo Tipo 3	 	 	 	 	 	 
 	 	 	 	 	 	 	 
São os verbos terminados em consoantes seguidas de la/lä, na/nä, ra/rä, ta/tä
 	 	 	 	 	 	 	 
Luulla	Achar (pensar)	 	 	 	 	 
Purra	Morder	 	 	 	 	 	 
Nousta	Levantar

Verbo Tipo 4	 	 	 	 	 	 
 	 	 	 	 	 	 	 
São os verbos terminados em vogal seguida de ta/tä
 	 	 	 	 	 	 	 
Haluta	Querer	 	 	 	 	 	 
Halata	Abraçar	 	 	 	 	 	 
Vihata	Odiar	 	 	 	 	 	 
 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 
Verbo Tipo 5	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 
São os verbos terminados em ita/itä
 	 	 	 	 	 	 	 
Valita 	Escolher	 	 	 	 	 	 
Tarvita	Precisar	 	 	 	 	 	 
Palkita
Premiar	 </p>