<h1>Verbo Ter</h1>
<p>	 	 	 	 
Ter Não ter
 	 	 
Eu tenho	Minulla on	 	Eu não tenho	Minulla ei ole
Você tem	Sinulla on	 	Você não tem	Sinulla ei ole
Ele(a) tem	Hänellä on	 	Ele(a)não tem	Hänella ei ole
Nós temos	Meillä on	 	Nós não temos	Meillä ei ole
Vocês tem	Teillä on	 	Vocês não tem	Teillä ei ole
Eles(as) tem	Heillä on	 	Eles(as) não tem	Heillä ei ole</p>