<h2>Verbos</h2>
<p>A
 	 	L	 
 	 	 	 	 
abençoar	siunata	 	lavar	pestä
abraçar	halata	 	lembrar	muistaa
abraçar	halata	 	ler	lukea
abrir	avata	 	levar	kantaa
acontecer	tapahtua	 	ligar	soittaa
acordar	herätä	 	louvar	ylistää
açucarar	sokeroida	 	 	 
adiar	lykätä	 	M	 
admirar	ihailla	 	 	 
adoçar	makeuttaa	 	mandar
(dar ordem)	määrätä
adoecer	sairastua	mandar
(enviar)	lähettää
adormecer	nukuttaa	 	mastigar	pureskella
agradecer	kiittää	matar	tappaa
ajudar	auttaa	 	melhorar	parantua
alugar	vuokrata	 	mentir	valehdella
amar	rakastaa	 	mergulhar	sukeltaa
andar	kävellä	 	morar	asua
apagar	kumittaa	 	morder	purra
apaixonar-se	rakastua	 	morrer	kuolla
apertar	painaa	 	mostrar	näyttää
aprender	oppia	 	 	 
arranhar	raapia	 	N	 
aumentar	kasvaa	 	 	 
 	 	 	nadar	uida
B	 	 	negar	kieltää
 	 	 	nevar	sataa lunta
bater
(na porta)	koputtaa
 	nutrir	ravita
bater	lyödä	 	 	 
beber	juoda	 	O	 
beijar	suudella	 	 
bocejar	haukotella	 	odiar	vihata
brigar	tapella	 	olhar	katsoa
brincar	leikkiä	 	oprimir	painostaa
brindar	nostaa malja	 	organizar	järiestää
 	 	 	ouvir	kuulla
C	 	 	 	 
 	 	 	P	 
cair	kaatua	 	 	 
cair	pudota
 	pagar	maksaa
(de algo)	 
cantar	laulaa	 	parar	pysähtyä
celebrar	juhlia	 	parar	lopettaa
cheirar	tuoksua
(de fazer)
(emitir cheiro)	 	pedir	pyytää
cheirar	haistaa
 	pensar	ajatella
(sentir cheiro)	perder	kadottaa
chupar	imeä	 	perder	menettää
chutar	potkaista	(alguém)
 	perder	hävitä
colocar	pistää	(jogo)
 	perguntar	kysyä
começar	alkaa	 	pingar	läikyttää
comer	syödä	piorar	huonontua
comprar	ostaa	 	plantar	istuttaa
concertar	korjata	precisar	täytyä
construir	rakentaa	 	precisar	tarvita
contar	kertoa
 	(de algo)
(história)	 	pregar	naulata
contar	laskea
 	(prego)
(número)	 	pregar	saarnata
continuar	jatkaa	 	(sermão)
procurar	etsiä
conversar	keskustella	 	prometer	luvata
correr	juosta	pular	hypätä
cortar	leikata	 	puxar	vetää
 	 	 	 
D	 	 	Q	 
 	 	 	 	 
dançar	tanssia	 	quebrar	rikkoa
dar	antaa	 	querer	haluta
desligar	samuttaa	 	 	 
dirijir	ajaa	 	R	 
dizer	sanoa	 	 	 
doer	satuttaa	 	respirar	hengittää
dormir	nukkua	 	rir	nauraa
 	 	 	riscar	raapaista
E	 	 	rodar	pyöriä
 	 	 	 	 
empurrar	työntää	 	S	 
encher	täyttää	 	 	 
encontrar	löytää	 	sangrar	vuotaa verta
ensinar	opettaa	 	sarar	parantua
errar	tehdä virhe	 	secar	kuivata
escolher	valita	 	segurar	pidellä
esconder	piiloutua	 	sentar	istua
escovar	harjata	 	sentir	tuntua
escrever	kirjoittaa	 	ser	olla
esperar	odottaa	 	sofrer	kärsiä
esquercer	unohtaa	 	sonhar	unelmoida
estar	olla	 	sorrir	hymyillä
 	 	 	 	 
F	 	 	T	 
 	 	 	 	 
falar	puhua	 	telefonar	soittaa
fazer	tehdä	 	temer	pelätä
fechar	sulkea	 	terminar	lopettaa
feder	haista	 	tirar	ottaa pois
ferir	satuttaa	 	tocar	soittaa
ferir	loukata
 	tomar	käydä
(sentimento)	 	banho	suihkussa
fugir	 	 	trabalhar	työskennellä
furar	tehdä reika	 	trazer	tuoda
 	 	 	tremer	vapista
trombar	törmätä
G	 	 	 	 
 	 	 	U	 
ganhar	saada	 	 	 
garantir	vakuuttaa	urinar	virtsata
girar	kääntyä ympäri	 	usar	käyttää
golpear	lyödä	 	 	 
gostar	pitää	 	V	 
 	 	 	 	 
H	 	 	vencer	voittaa
 	 	 	vender	myydä
honrar	kunnioittaa	 	ver	nähdä
 	 	 	viajar	matkustaa
I	 	 	vir	tulla
 	 	 	visitar	käydä
ignorar	jättää huomiotta	 	viver	elää
imitar	matkia	 	voar	lentää
ir	mennä	 	vomitar	oksentaa
 	 	 	 	 
J	 	 	 	 
 	 	 	 	 
jantar	syödä illallista	 	 	 
jogar	pelata	 	 	 
juntar	liittää	 	 	 
jurar	vannoa</p>