<h2>Ser - Estar</h2>

<p>
 	 
 	 	 
Em finlandês, os verbos "ser" e "estar" significam "olla".
 	 	 
Veja abaixo suas conjugações em seus diferentes tempos verbais:
 	 	 
 	 	 
* Infinitivo	 	 
 	 	 
Português	 	Finlandês
 	 	 
Ser / Estar	 	Olla
 	 	 
 	 	 
 	 	 
Afirmativa	 	 
 	 	 
* Presente	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu sou / estou	 	Minä olen
Você é / está	 	Sinä olet
Ele (a) é / está	 	Hän on
Nós somos / estamos	 	Me olemme
Vocês são / estão	 	Te olette
Eles (as) são / estão	 	He ovat
 	 	 
 	 	 
 	 	 
* Imperfeito


Ser - Estar	 	 
 	 	 
Em finlandês, os verbos "ser" e "estar" significam "olla".
 	 	 
Veja abaixo suas conjugações em seus diferentes tempos verbais:
 	 	 
 	 	 
* Infinitivo	 	 
 	 	 
Português	 	Finlandês
 	 	 
Ser / Estar	 	Olla
 	 	 
 	 	 
 	 	 
Afirmativa	 	 
 	 	 
* Presente	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu sou / estou	 	Minä olen
Você é / está	 	Sinä olet
Ele (a) é / está	 	Hän on
Nós somos / estamos	 	Me olemme
Vocês são / estão	 	Te olette
Eles (as) são / estão	 	He ovat
 	 	 
 	 	 
 	 	 
* Imperfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu era / estive	 	Minä olin
Você era / esteve	 	Sinä olit
Ele (a) era / esteve	 	Hän oli
Nós eramos / estivemos	 	Me olimme
Vocês eram / estiveram	 	Te olitte
Eles (as) eram / estiveram	 	He olivat
 	 	 
 	 	 
* Perfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu tenho sido / estado	 	Minä olen ollut
Vocë tem sido / estado	 	Sinä olet ollut
Ele (a) tem sido / estado	 	Hän on ollut
Nós temos sido / estado	 	Me olemme ollut
Vocês têm sido / estado	 	Te olette ollut
Eles (as) têm sido / estado	 	He olevat ollut
 	 	 
 	 	 
* Mais que perfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu tinha sido / estado	 	Minä olin ollut
Vocë tinha sido / estado	 	Sinä olit ollut
Ele (a) tinha sido / estado	 	Hän oli ollut
Nós tinhamos sido / estado	 	Me olimme ollut
Vocês tinham sido / estado	 	Te olitte ollut
Eles (as) tinham sido / estado	 	He olivat ollut
 	 	 
 	 	 
 	 	 
Negativa


Ser - Estar	 	 
 	 	 
Em finlandês, os verbos "ser" e "estar" significam "olla".
 	 	 
Veja abaixo suas conjugações em seus diferentes tempos verbais:
 	 	 
 	 	 
* Infinitivo	 	 
 	 	 
Português	 	Finlandês
 	 	 
Ser / Estar	 	Olla
 	 	 
 	 	 
 	 	 
Afirmativa	 	 
 	 	 
* Presente	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu sou / estou	 	Minä olen
Você é / está	 	Sinä olet
Ele (a) é / está	 	Hän on
Nós somos / estamos	 	Me olemme
Vocês são / estão	 	Te olette
Eles (as) são / estão	 	He ovat
 	 	 
 	 	 
 	 	 
* Imperfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu era / estive	 	Minä olin
Você era / esteve	 	Sinä olit
Ele (a) era / esteve	 	Hän oli
Nós eramos / estivemos	 	Me olimme
Vocês eram / estiveram	 	Te olitte
Eles (as) eram / estiveram	 	He olivat
 	 	 
 	 	 
* Perfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu tenho sido / estado	 	Minä olen ollut
Vocë tem sido / estado	 	Sinä olet ollut
Ele (a) tem sido / estado	 	Hän on ollut
Nós temos sido / estado	 	Me olemme ollut
Vocês têm sido / estado	 	Te olette ollut
Eles (as) têm sido / estado	 	He olevat ollut
 	 	 
 	 	 
* Mais que perfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu tinha sido / estado	 	Minä olin ollut
Vocë tinha sido / estado	 	Sinä olit ollut
Ele (a) tinha sido / estado	 	Hän oli ollut
Nós tinhamos sido / estado	 	Me olimme ollut
Vocês tinham sido / estado	 	Te olitte ollut
Eles (as) tinham sido / estado	 	He olivat ollut
 	 	 
 	 	 
 	 	 
Negativa	 	 
 	 	 
* Presente	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu não sou / estou	 	Minä en ole
Você não é / está	 	Sinä et ole
Ele (a) não é / está	 	Hän ei ole
Nós não somos / estamos	 	Me emme ole
Vocês não são / estão	 	Te ette ole
Eles (as) não são / estão	 	He eivat ole
 	 	 
 	 	 
 	 	 
* Imperfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu não era / estive	 	Minä en oli
Você não era / esteve	 	Sinä et oli
Ele (a) não era / esteve	 	Hän ei oli
Nós não eramos / estivemos	 	Me emme oli
Vocês não eram / estiveram	 	Te ette oli
Eles (as) não eram / estiveram	 	He eivat oli
 	 	 
 	 	 
* Perfeito	 	 
 	 	 
Português	 	Finlandês
 	 	 
Eu não tenho sido / estado	 	Minä en ole ollut
Vocë não tem sido / estado	 	Sinä et ole ollut
Ele (a) não tem sido / estado	 	Hän ei ole ollut
Nós não temos sido / estado	 	Me emme ole ollut
Vocês não têm sido / estado	 	Te ette ole ollut
Eles (as) não têm sido / estado	 	He eivat ole ollut
 	 	 
 	 	 
* Mais que perfeito

Português	 	Finlandês
 	 	 
Eu não tinha sido / estado	 	Minä en oli ollut
Vocë não tinha sido / estado	 	Sinä et oli ollut
Ele (a) não tinha sido / estado	 	Hän ei oli ollut
Nós não tinhamos sido / estado	 	Me emme oli ollut
Vocês não tinham sido / estado	 	Te ette oli ollut
Eles (as) não tinham sido / estado	 	He eivat oli ollut
</p>