<h2>Vocabulário Básico</h2>
 
<p>anteeksi - desculpe/com licença
aurinko paistaa - o sol brilha
auttakaa - socorro
ei kestä - de nada
ei se mitään - não foi nada
hauska tutustua - muito prazer
hiljaa - silêncio
huomio - atenção
hyvää huomenta - bom dia, até 9 horas da manhã.
hyvää iltaa - boa noite, ao chegar.
hyvää matkaa - boa viagem
hyvää päivää - boa tarde, após 9 horas da manhã.
hyvää ruokahalua - bom apetite
hyvää ruokahalua - bom apetite!
hyvää yötä - boa noite, ao sair.
juomat - bebidas
kielletty - proibido
kiitos - obrigado
kiitos hyvin - bem, obrigado
kippis - saúde!
leipä - pão
mitä kuuluu? - como vai?
näkemiin - até logo
odota - espere
olkaa hyvin - por favor
on kuumaa - faz calor
on kylmä - faz frio
ruokaa - comida
sataa vettä - está chovendo
seis - pare
suomalainen - finlandês (nacionalidade)
suomea - finlandês (idioma)
suomi - Finlândia
Suudelmia - Beijos
tervetuloa - bem-vindo (a)
vaara - perigo
varo - cuidado
vesi - água</p>