<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
  <title>Lingua Finlandesa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sobre lingua finlandesa">
  <meta name="author" content="Henrique Oliveira" >
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  
</head>
<body>
	<div id="wrap" class="clearfix">
		<div class="col_12">
		<header>
			<div class="headline">	
				<h1>Lingua Finlandesa</h1>
				<p>Para amantes da lingua finlandesa</p>
			</div>
			<nav>
				<ul class="menu">
					<li class="current"><a href="/">Home</a></li>
					<li><a href="contato">Contato</a></li>
					<li><a href="abc">ABC</a></li>
					<li><a href="pronuncia">Pronuncia</a></li>
				</ul>
			</nav>
		</header>

    				<%= yield %>

    	<footer>
			<p>Copyleft © 2012 All Rights</p>
    	</footer>
		</div>
    </div>

</body>
</html>
